<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="static/css/nes.min.css" rel="stylesheet" />
  <link href="static/css/styles.css" rel="stylesheet">
  <style>
    html,
    body,
    pre,
    code,
    kbd,
    samp {
      font-family: "Press Start 2P";
    }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thermal Messenger</title>
</head>

<body>
  <img alt="An image of a printer" width="100px" src="static/to_print.svg" />
  <div>
    {% if current_user.is_authenticated %}
    <p>
      Hi {{ current_user.first_name }}!
      <a href="{{url_for('logout_get')}}">Log out</a>
    </p>
    {% else %}
    <h2>Please Log In</h2>
    {% endif %}
    {% with message = get_flashed_messages() %}
    {% if message %}
    <div>
      <button type="button" onclick="this.parentElement.style.display='none';" class="nes-btn
      is-primary">{{ message[0] }}</button>
    </div>
    {% endif %}
    {% endwith %}
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>